.carousel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
  margin-top: 1rem;
  border-radius: 0.5rem;
  overflow: hidden;
}
.carouselTrack {
  display: flex;
  width: 100%;
  /* animation: carousel 3s infinite linear; */
}
.slide {
  border-radius: 0.5rem;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.slideActive {
  display: none;
}
.arrow {
  position: absolute;
  color: rgba(163, 163, 163, 0.357);
  width: 2rem;
  height: 2rem;
}
.arrow:hover {
  cursor: pointer;
}

.arrowLeft {
  z-index: 1;
  left: 1rem;
}
.arrowRight {
  z-index: 1;
  right: 1rem;
}

.indicators {
  display: flex;
  position: absolute;
  bottom: 1rem;
  right: 3rem;
}
.indicator {
  background-color: rgba(11, 195, 11, 0.648);
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 100%;
  border: none;
  outline: none;
  margin: 0 0.2rem;
}
.indicator:hover {
  cursor: pointer;
}
.indicatorInactive {
  background-color: gray;
}

/* @keyframes carousel {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
} */
