.playerMain {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.314);
  /* background-color: rgba(0, 0, 0, 0.742); */
  z-index: 3;
  display: flex;
  flex-direction: row;
}
.darkMode {
  background-color: #212121;
}

.videoSpace {
  height: 100%;
  flex: 7;
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  /* background-color: black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-top: 10px;
}
.app__videos {
  position: relative;
  /* height: 80vh; */
  height: 100%;
  width: 100%;
  overflow: scroll;
  scroll-snap-type: y mandatory;
  display: flex;
  flex-direction: column;
  gap: 500px;
}

.app__videos::-webkit-scrollbar {
  display: none;
}
/* for IE Safari*/
.app__videos {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.video {
  position: relative;
  width: 100%;
  height: 100%;
  scroll-snap-align: start;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.video:last-child {
  margin-bottom: 10px;
}
.video__player {
  object-fit: fill;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.fullWidth {
  max-width: 1550px;
}
.fitWidth {
  max-width: 490px;
}
.duration {
  display: flex;
  width: 70px;
  color: #fff;
}
.videoDurSlice {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: row;
  bottom: 0;
  padding: 10px;
}
.slice {
  width: 100%;
}
.downloadBox {
  position: absolute;
  width: 300px;
  height: 100px;
  background-color: white;
  /* right: 100px; */
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 10px;
}
.progressControl {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.progress {
  width: 100%;
  height: 20px;
}
.cancel {
  display: flex;
  align-items: center;
  justify-content: center;
}
.search {
  width: 460px;
  font-size: 1.5rem;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  padding-left: 20px;
  gap: 10px;
}
.search > input {
  border: none;
  background-color: transparent;
  width: 100%;
  font-size: 1rem;
  color: #fff;
}
.search > input::placeholder {
  color: #fff;
}

.infoSpace {
  height: 100%;
  display: flex;
  width: 400px;
  background-color: #fff;
}
.controllers {
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 30px;
  font-size: 2rem;
}
.controllersRight {
  right: 0;
  padding-right: 20px;
}
.controllersLeft {
  padding-left: 20px;
  left: 0;
}

.videoBtn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.controllersGroup {
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.controllersCenter {
  position: absolute;
  top: calc(50% - 80px);
}
.videoVolume {
  border-radius: 50px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 150px;
}
.videoVolume > input {
  rotate: -90deg;
}

.videoContent {
  position: absolute;
  top: calc(50% - 175px);
}
.count {
  font-size: 1rem;
  color: #fff;
  font-weight: 500;
  padding-top: 10px;
}
.videoContentItem {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.videoContentBtn {
  background-color: transparent;
  border: 3px solid black;
}

/*generated with Input range slider CSS style generator (version 20211225)
https://toughengineer.github.io/demo/slider-styler*/
.styledSlider {
  height: 2.3em;
}
